* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background-color: #12181B;
}

.row {
    min-height: 90vh;
}